{% extends "layout.html" %}
{% block content %}
<title>Calendar</title>
<head>
</head>
<body>

<form action="{{ url_for('calendar') }}" method="POST">
    
    <h2>Select the day(s) to add the recipe</h2>

    <!-- Checkboxes for day selection -->
    <input type="checkbox" id="monday" name="selected_days" value="Monday">
    <label for="monday">Monday</label><br>
    <input type="checkbox" id="tuesday" name="selected_days" value="Tuesday">
    <label for="tuesday">Tuesday</label><br>
    <input type="checkbox" id="wednesday" name="selected_days" value="Wednesday">
    <label for="wednesday">Wednesday</label><br>
    <input type="checkbox" id="thursday" name="selected_days" value="Thursday">
    <label for="thursday">Thursday</label><br>
    <input type="checkbox" id="Friday" name="selected_days" value="Friday">
    <label for="Friday">Friday</label><br>
    <input type="checkbox" id="Saturday" name="selected_days" value="Saturday">
    <label for="Saturday">Saturday</label><br>
    <input type="checkbox" id="Sunday" name="selected_days" value="Sunday">
    <label for="Sunday">Sunday</label><br><br>

    <!-- Hidden fields to pass the recipe details with the form -->
    <input type="hidden" name="recipe_label" value="{{ recipe_label }}">
    <input type="hidden" name="recipe_url" value="{{ recipe_url }}">

    <!-- Display Recipe Name and URL -->
    <label for="recipe_name">Recipe Name:</label>
    <a href="{{ recipe_url }}"> {{ recipe_label }}</a><br><br>
    <button type ="submit"> Add Recipe to Selected Day(s)</button>
</form>


<!-- Display areas for days -->
<div class = "output">
    <ul> 
        <h2>Monday</h2>
        {% for recipe in recipes_list %}
            {% if 'Monday' in recipe. days %}
                <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class = "output">
    <ul> 
        <h2>Tuesday</h2>
        {% for recipe in recipes_list %}
            {% if 'Tuesday' in recipe. days %}
                <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


<div class = "output">
    <ul> 
        <h2>Wednesday</h2>
        {% for recipe in recipes_list %}
            {% if 'Wednesday' in recipe. days %}
                <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


<div class = "output">
    <ul> 
        <h2>Thursday</h2>
        {% for recipe in recipes_list %}
            {% if 'Thursday' in recipe. days %}
                <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


<div class = "output">
    <ul> 
        <h2>Friday</h2>
        {% for recipe in recipes_list %}
            {% if 'Friday' in recipe. days %}
                <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


<div class = "output">
    <ul> 
        <h2>Saturday</h2>
        {% for recipe in recipes_list %}
            {% if 'Saturday' in recipe. days %}
                <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


<div class = "output">
    <ul> 
        <h2>Sunday</h2>
        {% for recipe in recipes_list %}
            {% if 'Sunday' in recipe. days %}
                <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


</body>
</html>
{% endblock %}




