{% extends "layout.html" %}
{% block content %}
<title>Calendar</title>
<head>
</head>
<body>

<!-- Form to handle the day selection and add the recipe to the calendar -->
<form action="{{ url_for('calendar') }}" method="POST">
    
    <h2>Select the day(s) to add the recipe</h2>

    <!-- Checkboxes for day selection -->
    <input type="checkbox" id="monday" name="selected_days" value="Monday">
    <label for="monday">Monday</label><br>
    <input type="checkbox" id="tuesday" name="selected_days" value="Tuesday">
    <label for="tuesday">Tuesday</label><br>
    <input type="checkbox" id="wednesday" name="selected_days" value="Wednesday">
    <label for="wednesday">Wednesday</label><br>
    <input type="checkbox" id="thursday" name="selected_days" value="Thursday">
    <label for="thursday">Thursday</label><br>
    <input type="checkbox" id="Friday" name="selected_days" value="Friday">
    <label for="Friday">Friday</label><br>
    <input type="checkbox" id="Saturday" name="selected_days" value="Saturday">
    <label for="Saturday">Saturday</label><br>
    <input type="checkbox" id="Sunday" name="selected_days" value="Sunday">
    <label for="Sunday">Sunday</label><br><br>


    <!-- Hidden fields to pass the recipe details with the form -->
    <input type="hidden" name="recipe_label" value="{{ recipe_label }}">
    <input type="hidden" name="recipe_url" value="{{ recipe_url }}">

    <!-- Display Recipe Name and URL -->
    <label for="recipe_name">Recipe Name:</label>
    <a href="{{ recipe_url }}" target="_blank">{{ recipe_label }}</a><br><br>

    <!-- Submit button to add the recipe to the selected days -->
    <button type="submit">Add Recipe to Selected Day(s)</button>
</form>



<!-- Display areas for Monday and Tuesday -->
<h2>Monday</h2>
<div class = "recipe_links">
    {% if 'Monday' in selected_days %}
        <a href='{{ recipe_url }}'> {{ recipe_label }}</a>
    {% endif %}
</div>
<div class="days">
    <textarea id="days_textarea" name="days_textarea" rows="5" cols="50">
    Notes:
    </textarea>
</div>


<h2>Tuesday</h2>
<div class = "recipe_links">
    {% if 'Tuesday' in selected_days %}
        <a href='{{ recipe_url }}'> {{ recipe_label }}</a>
    {% endif %}
</div>
<div class="days">
    <textarea id="days_textarea" name="days_textarea" rows="5" cols="50">
    Notes:
    </textarea>
</div>


<h2>Wednesday</h2>
<div class = "recipe_links">
    {% if 'Wednesday' in selected_days %}
        <a href='{{ recipe_url }}'> {{ recipe_label }}</a>
    {% endif %}
</div>
<div class="days">
    <textarea id="days_textarea" name="days_textarea" rows="5" cols="50">
    Notes:
    </textarea>
</div>


<h2>Thursday</h2>
<div class = "recipe_links">
    {% if 'Thursday' in selected_days %}
        <a href='{{ recipe_url }}'> {{ recipe_label }}</a>
    {% endif %}
</div>
<div class="days">
    <textarea id="days_textarea" name="days_textarea" rows="5" cols="50">
    Notes:
    </textarea>
</div>


<h2>Friday</h2>
<div class = "recipe_links">
    {% if 'Friday' in selected_days %}
        <a href='{{ recipe_url }}'> {{ recipe_label }}</a>
    {% endif %}
</div>
<div class="days">
    <textarea id="days_textarea" name="days_textarea" rows="5" cols="50">
    Notes:
    </textarea>
</div>


<h2>Saturday</h2>
<div class = "recipe_links">
    {% if 'Saturday' in selected_days %}
        <a href='{{ recipe_url }}'> {{ recipe_label }}</a>
    {% endif %}
</div>
<div class="days">
    <textarea id="days_textarea" name="days_textarea" rows="5" cols="50">
    Notes:
    </textarea>
</div>


<h2>Sunday</h2>
<div class = "recipe_links">
    {% if 'Sunday' in selected_days %}
        <a href='{{ recipe_url }}'> {{ recipe_label }}</a>
    {% endif %}
</div>
<div class="days">
    <textarea id="days_textarea" name="days_textarea" rows="5" cols="50">
    Notes:
    </textarea>
</div>

</body>
</html>
{% endblock %}




