<!DOCTYPE html>
<html>
  <head>
    <title>Meal Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

  <header>
    <h2>
      <nav>
        <h2>
          <li><a href="{{ url_for('signup') }}">Create Account</a></li>
          <li><a href="{{ url_for('search') }}">Search Recipes</a></li>
        </h2>
      </nav>
    </h2>
  </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>