<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <style>
        body {
            background: url('static/img/burgerLogin2.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    
    
    <div class="wrapper">
        <h2>Login</h2>
        <form method="POST">
            
            
            <div class = "input_box">
                <p> Email: </p>
                <i class='bx bxs-envelope'></i>
                <input type="email" name="email" placeholder = "Email" required>
            </div>
            
            
            <div class = "input_box">
                <p> Password: </p>
                <i class='bx bxs-lock-alt'></i>
                <input type="password" name="password" placeholder="Password" required>
            </div> <br>
            
            <input type="submit" class="SignIn_btn" value="Sign In">

            <div class = "register_link">
                <p> Don't have an account? <a href="/signup"> Register </a></p>
            </div>

            {% for message in get_flashed_messages() %}
                <p style="color: green;">{{ message }}</p>
            {% endfor %}
            
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</html>
