{% extends "layout.html" %}
{% block content %}
<h1>Most Popular Meals</h1>

<div class="popular-meals">
    {% for item in popular_meals %}
        <div class="meal-card">
            <h3>{{ item.category }}</h3>
            <img src="{{ item.meal.strMealThumb }}" alt="{{ item.meal.strMeal }}" class="meal-img">
            <p>{{ item.meal.strMeal }}</p>
        </div>
    {% endfor %}
</div>

<style>
    .popular-meals {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .meal-card {
        text-align: center;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        background-color: #f9f9f9;
    }
    .meal-img {
        width: 100%;
        border-radius: 10px;
    }
    
</style>

<form action="/popular-meals">
    <button type="submit" class="Sigbtn">Refresh</button>
  </form>

{% endblock %}
