{% extends "layout.html" %}
{% block content %}
<title>My Profile</title>
</head>
<body>
<div class="profile">
    <div class="input">
        <h2>My Profile</h2>
        <p><i><a href="/user/{{user_data.email}}">View Your Public Profile</a></i></p>

        {% for message in get_flashed_messages() %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}

        <h3>My personal details</h3>

        <div style="text-align: center; margin-top: 20px;">
            <form method="POST" enctype="multipart/form-data">
                <label for="profile_picture">
                    <img src="{{ user_data.profile_picture }}" alt="Profile Picture" class="profile-img" onclick="document.getElementById('fileInput').click()">
                </label>
                <input type="file" id="fileInput" name="profile_picture" style="display: none;" onchange="this.form.submit()">
            </form>
        </div>

        <div class="profile-info">
            <form method="POST">

                <div><label>
                    <input type="checkbox" name="opt_in_out" id="optInOutCheckbox"
                    {% if user_data.opt_in_out %} checked {%endif%}>
                    Opt-in to receive updates
                </label></div>
                <label>Email Schedule Time:</label>
                <input type="time" name="email_scheduled_time" value="{{ user_data.email_scheduled_time }}"><br><br>
            
                <label>Username:</label>
                <input type="text" name="username" value="{{ user_data.username }}" required><br><br>
        
                <label>Bio:</label>
                <textarea name="bio">{{ user_data.bio }}</textarea><br><br>
        
                <button type="submit">Update Profile</button>
            </form>
                <form action="logout" method="GET">
                    <button type="submit" class="btn-logout">Logout</button>
                </form>
            </div>
    </div>

    <style>
        /* Very basic style circle (WIP) */
        .profile-img {
            width: 100px; 
            height: 100px;
            border-radius: 50%; 
            border: 2px solid #ccc; 
            object-fit: cover;
        }
    </style>
     <script>
        document.getElementById("consoleButton").addEventListener("click", function () {
            console.log("Button was clicked!");
        });
    </script>
</div>
</body>
</html>
{% endblock %}