{% extends "layout.html" %}
{% block content %}
<title>My Profile</title>
</head>
<body>

    <div class="input">
        <h2>My Profile</h2>

        <h3>My personal details</h3>

        <div class="profile-info">
            <p class="label">Username: </p>
            <p class="label">Password change: </p>
            <p class="label">Email Address: </p>
            <p class="label">Bio: </p>
            <p class="label">Exit </p>
                <form action="logout" method="GET">
                    <button type="submit" class="btn-logout">Logout</button>
                </form>
        </div>
    </div>

</body>
</html>
{% endblock %}