{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scaled Recipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <style>
        ul {
            list-style-type: none;
            padding: 0;
            align-items: center;
        }

        .scaled_result {
            align-content: center;
            .wrapper {
                width: 30em;
                margin-left: 15%;
            }
        }

        ul li {
            padding: 10px 0;
            font-size: 16px;
            border-bottom: 1px solid #000000;
        }
    </style>
</head>

<header>
    
</header>
<div class="scaled_result">
    <h2>Here are your adjusted ingredient amounts:</h2>
    <div class="wrapper">
        <ul>
            {% for item in adjusted_ingredients %}
            <li>
                <span>{{ item.scaledAmount }}</span>
                <span>{{ item.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

</html>
{% endblock %}