{% extends "layout.html" %}
{% block content %}
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    
</style>

<form action="/search" method="POST">
    

</form>
    <p>Results for <b>{{ searchbar }}</b></p>
    <div class="output">
        <div class="recipe_image">
            <img src="static/img/sampleImage.jpg" alt="burger">
        </div>
        <ul>
            <li class="title">
                <p><b>Chicken</b></p>
                <ul class="contents">
                    <li>200 Protein</li>
                    <li>200 cal</li>
                    <li>200 servings</li>
                    <li><b>200000000 protein/serving</b></li>
                    <li><b>200 cal/serving</b></li>
                    <br>
                    <details>
                        <summary>Ingredients</summary>
                        <ul>
                            <div class="wrapper">
                                <li>Chicken</li>
                                <li>Chicken</li>
                                <li>Chicken</li>
                                <li>Chicken</li>
                                <li>Chicken</li>
                                <li>Chicken</li>
                                <li>Chicken</li>
                                <li>Chicken</li>
                            </div>
                            
                        </ul>
                    </details>
                    <br>
                    <a href='edamam.com'>From BBC</a>
                    
                        <form action="/scale_recipe" method="POST">
                            <button type="submit">Scale Recipe</button>
                        </form>
                        <form action="/calendar" method="POST">
                            <button type="submit">Add to Calendar</button>
                        </form>
                        <form action="/cart" method="POST">
                            <button type="submit" name="recipeURI" >Add to Shopping Cart</button>
                        </form>
                    <form action="{{ url_for('calorie_tracking') }}" method="POST">
                        <button type="submit" class="add-calorie-btn">Add to Calorie Tracker</button>
                    </form>
                </ul>
            </li>
        </ul>
    </div>


{%if success%}
    <p>Results for <b>{{ searchbar }}</b></p>
    {% for recipe in recipes %}
    <div class="output">
        <img src="{{ recipe.images }}" alt = "{{ recipe.label }} image">
        <ul>
            <li class="title">
                <p><b>{{ recipe.label }}</b></p>
                <ul class="contents">
                    <li>{{ recipe.protein }}{{ recipe.proteinunit}} Protein</li>
                    <li>{{ recipe.calories }} cal</li>
                    <li>{{ recipe.servings }} servings</li>
                    <li><b>{{ recipe.protein_per_serv }}{{ recipe.proteinunit }} protein/serving</b></li>
                    <li><b>{{ recipe.cal_per_serv }} cal/serving</b></li>
                    <br>
                    <li><b>Ingredients</b></li>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href='{{ recipe.url }}'>From {{ recipe.source }}</a>
                    
                        <form action="/scale_recipe" method="POST">
                            {% for ingredient in recipe.ingredients %}
                                <input type="hidden" name="ingredients[]" value="{{ ingredient }}">
                            {% endfor %}
                            <button type="submit">Scale Recipe</button>
                        </form>
                        <form action="/calendar" method="POST">
                            <input type="hidden" name="recipe_label" value="{{ recipe.label }}">
                            <input type="hidden" name="recipe_url" value="{{ recipe.url }}">
                            <button type="submit">Add to Calendar</button>
                        </form>
                        <form action="/cart" method="POST">
                            <button type="submit" name="recipeURI" value="{{ recipe. uri }}">Add to Shopping Cart</button>
                        </form>
                    <form action="{{ url_for('calorie_tracking') }}" method="POST">
                        <input type="hidden" name="item_name" value="{{ recipe.label }}">
                        <input type="hidden" name="calories" value="{{ recipe.calories }}">
                        <input type="hidden" name="date" value="{{ current_date }}">
                        <button type="submit" class="add-calorie-btn">Add to Calorie Tracker</button>
                    </form>
                </ul>
            </li>
        </ul>
    </div>
{% endfor %}

{% elif success == false%}
<p>Error.</p>

{% endif %}
{% endblock %}