{% extends "layout.html" %}
{% block content %}
<head>

</head>

<body class="cartbody">
    <div class="cartwindow">
        <h2>Shopping Cart<h2>

        <div class="ingredient">
            <input type="checkbox">
            <p class="quantity">0</p>
            <p class="measure">g</p>
            <p class="ingredientName">IngredientName</p>
            <br>
            <ul>
                <li class="recipesUsing">-RecipesUsingIt</li>
            </ul>
        </div>
        <br>
        <input type="button" class="Submit" value="Save as PDF"></input>
    </div>
    {{ statusMessage }}
</body>


{% endblock %}