{% extends "layout.html" %}
{% block content %}
<head>

</head>

<body class="cartbody">
    <div class="cartwindow">
        {% if errorMessage %}
            <div class="errornotification">{{ errorMessage }}</div>
        {% endif %}
        {% if successMessage %}
        <div class="successnotification">{{ successMessage }}</div>
        {% endif %}
        <h2>Shopping Cart<h2>

        {% for precessed_item in result %}
        <div class="ingredient">
            <table>
                <td><input type="checkbox" class="boughtCheck"></td>
                <td><p class="quantity">{{ precessed_item.quantity }}</p></td>
                <td><p class="measure">{{ precessed_item.measure }}</p></td>
                <td><p class="ingredientName">{{ precessed_item.food }}</p></td>
                <td><p class="recipesUsing">{{ precessed_item.recipe }}</p></td>
            </table>
        </div>
        {% endfor %}
        <br>
        <form action="{{ url_for('download_pdf') }}" method="POST">
            <input type="submit" class="Submit" value="Save as PDF">
        </form>            
    </div>
</body>



{% endblock %}