{% extends "layout.html" %}
{% block content %}
<head>

</head>
<style>
    .ingredient {
        text-align: left;
        margin-bottom: 10px;
        input {
            position: absolute;
            transform: translateY(18px);
        }
    }
    .ingredient ul{
        list-style: none;
        display: flex;
        .sub_list{
            list-style: none;
            display: block;
        }
    }
</style>
    <div class="wrapper">
        {% if errorMessage %}
            <div class="errornotification">{{ errorMessage }}</div>
        {% endif %}
        {% if successMessage %}
        <div class="successnotification">{{ successMessage }}</div>
        {% endif %}
        <h2>Shopping Cart<h2>

        {% for precessed_item in result %}
        <div class="ingredient">
            <input type="checkbox" class="boughtCheck">
            <ul>
                <li>
                    <p>{{ precessed_item.quantity }} {{ precessed_item.measure }} {{ precessed_item.food }}</p>
                    <ul class="sub_list">
                        {% for recipe in precessed_item.recipe %}
                            <li><p style="color: grey;">- {{ recipe }}</p></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        {% endfor %}
        <br>
        <form action="{{ url_for('download_pdf') }}" method="POST">
            <input type="submit" class="Submit" value="Save as PDF">
        </form>            
    </div>



{% endblock %}