{% extends "layout.html" %}
{% block content %}
    <div class="input">
        <h2>Create an Account</h2>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required><br><br>
            <input type="submit" value="Sign Up">
        </form>
    </div>

    {% if success %}
        <p> Account created successfully </p>
    {% elif success == false %}
        <p> Account already exists </p>
    {% endif %}
{% endblock %}
