{% extends "layout.html" %}
{% block content %}
<title></title>
</head>
<body>
    <div class="userPage">
        <div class="userPageHead">
            {% if viewingSelf == True %}
                <p> <i>(Your Profile)</i> </p>
            {% endif %}
            <div class="userProfilePic"></div>
            <div class="userUsername"> <p class="userUsername"> <b>{{user_data.username}} </b></p></div>
            <div class="userEmail"> <p> {{user_data.email}} </p></div>
            <div class="userTags"></div>
            <div class="userBio"> <p>" {{user_data.bio}} "</p> </div>
            {% if friendsWith %}
                <button label="Unfriend">Unfriend</button>
            {% elif viewingSelf == True %}
            {% else %}
                <button label="Add as Friend">Add as Friend</button>
            {% endif %}
            
        </div>
        <div class="userPageBody">
            <div class="userPageLeft input">
                <div class="userCalendar">
                    <p>Monday</p>
                    <ul>
                        {% for recipe in calendarRecipes %}
                        {% if 'Monday' in recipe. days %}
                        <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <p>Tuesday</p>
                    <ul>
                        {% for recipe in calendarRecipes %}
                        {% if 'Tuesday' in recipe. days %}
                        <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <p>Wednesday</p>
                    <ul>
                        {% for recipe in calendarRecipes %}
                        {% if 'Wednesday' in recipe. days %}
                        <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <p>Thursday</p>
                    <ul>
                        {% for recipe in calendarRecipes %}
                        {% if 'Thursday' in recipe. days %}
                        <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <p>Friday</p>
                    <ul>
                        {% for recipe in calendarRecipes %}
                        {% if 'Friday' in recipe. days %}
                        <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <p>Saturday</p>
                    <ul>
                        {% for recipe in calendarRecipes %}
                        {% if 'Friday' in recipe. days %}
                        <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <p>Sunday</p>
                    <ul>
                        {% for recipe in calendarRecipes %}
                        {% if 'Friday' in recipe. days %}
                        <li><a href='{{ recipe. url }}'> {{ recipe. label }}</a><br></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="userPageCenter">
                <div class="UserPosts">
                    {% for post in userPosts %}
                        <div class="post">
                            <p class="postAuthor" class="postTop"><b>@{{post.author}}</b></p>
                            <p class="postEmail"><i>({{post.email}})</i></p>
                            <p class="postTimestamp" class="postTop">{{post.timestamp}}</p>
                            <p class="postContent">{{post.content}}</p>
                        </div>
                    {% endfor %}               
                </div>
            </div>
            <div class="userPageRight input">
                <div class="userFavorites"> <p>Friends</p> <p>Favorites</p></div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}