{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Prep App - Your Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<header>
   
</header>


<div class="scale_recipe">
    <h2>What ingredients are you short on?</h2>
    <div class="wrapper">
        <h3>Check the box and enter the amount you have</h3>
        
        <form action="{{ url_for('recipe_scaling') }}" method="POST">
            {% for ingredient in ingredients %}
            <label>
                <input type="checkbox" name="ingredient_selected_{{ loop.index }}" class="checkbox">
                <span class="title">{{ ingredient.amount_needed }} {{ ingredient.ingredient }}</span>
                <input type="hidden" name="ingredient" value="{{ ingredient.ingredient }}">
                <input type="hidden" name="amount_needed_{{ loop.index }}" value="{{ ingredient.amount_needed }}">
                <div class="input-group">
                    <input type="number" name="amount_on_hand_{{ loop.index }}" value="{{ ingredient.amount_on_hand }}" placeholder="0">
                </div>
            </label>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</html>
{% endblock %}
