{% extends "layout.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
    <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 4000); </script>
    <div id="successMessage" class="notification"><p>{{message}}</p></div>
{% endfor %}
<h1>Meal APP</h1>
<div class="burger">
  <img src="static/img/burger3.png" alt="burger">
</div>
  <form action ="signup">
    <button type="submit" class="Sigbtn" >Sign Up </button>
  </form>

  <form action="login">
    <button type="submit" class="Sigbtn">Login</button>
  </form>

  <form action="/popular-meals">
    <button type="submit" class="Sigbtn">Suggested Meals</button>
  </form>

  <div class="description">
    <p>Welcome to Meal APP, your go-to app for meal planning, recipe sharing, and calorie tracking!</p>
  </div>

  <footer>
    <p>© 2024 Meal APP | <a href="{{ url_for('contact') }}" class="footer-link">Contact Us</a> 
</footer>


{% endblock %}