body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    height: 100vh;
    background: rgb(95, 194, 95);
  }

h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 14cap;
    min-height: 0vh;
    color: rgb(240, 230, 230);
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}


.wrapper h2 {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    color: aqua;
}

.wrapper .register {
    width: 100%;
    height: 80px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

.wrapper .btn {
    width: 100%;
    height: 65px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 30px;
    color: aqua;
    font-weight: 600;
}

 .burger {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
}

.navbar {
    font-size: 40px;
}

ul.navbar {
    position: fixed;
    top: 2em;
    left: 1em;
    width: 100%;
    overflow: hidden;
}

ul.navbar a {
    text-decoration: none }
a:link {
    color: blue }
a:visited {
    color: rgb(122, 112, 187) 
}

.navbar {
    float: right;
    margin-top: 8px;
}

.navbar li {
    display: inline;
    float: left;
}

.navbar li a {
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar a {
    float: left;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    background-color: #dddddd;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04aa6d;
    color: white;
}