body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(51, 202, 109);
    font-family: Arial, sans-serif;
    height: 0%;
    margin-top: 5%;
}

/* change title text stuff*/
h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 14cap;
    color: rgb(240, 230, 230);
    height: 20px;
    font-weight: 10;
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 32px;
}

h3 {
    color: grey;
    font-weight: lighter;
}

/* Box that is around the input */
.input {
    border-style: solid;
    border-radius: 2%;
    border-width: thin;
    border-color: rgb(146, 145, 145);
    padding: 5%;
    margin: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px;
}

/* Box that is around the output */
.output {
    border-style: solid;
    border-radius: 2%;
    border-width: thin;
    border-color: rgb(146, 145, 145);
    padding: 1%;
    margin: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px;
}

.label {
    font-size: small;
    margin-bottom: .5;
}

.wrapper .register {
    width: 100%;
    height: 80px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

.wrapper .btn {
    width: 100%;
    height: 65px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 30px;
    color: aqua;
    font-weight: 600;
}

.burger {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    height: 400px;
}

/* change nav bar position*/
.navbar {
    position: fixed;
    font-size: 40px;
    top: 0em;
    left: -1em;
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
}

/* hide the dot next to the tabs */
.navbar li {
    display: inline;
    float: left;
    
}

/* change text inside nav bar */
.navbar li a {
    font-family: "Gill Sans", sans-serif;
    color: rgb(68, 104, 180);
    text-align: center;
    padding: 20px 30px;
    border-left: 1px solid #38a0cf;
    font-weight: 40;
}

/* change background of nav bar */
.navbar a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #e7e6e6;
    list-style-type: none;
}
ul.navbar {
    background-color: #e7e6e6;
    border-bottom: 4px solid #38a0cf;
}

.navbar a:hover {
    background-color: lightblue;
    color: black;
}

/* search bar style*/
.searchbar{
    display: block;
    width: 96%;
    margin-bottom: 10%;
    height: 35px;
    border-radius: 2% / 10%;
    border-width: 2px;
    border-color: rgb(155, 155, 155);
    border-style: solid;
    outline: none;
    padding-left: 5px;
}

.searchbar::placeholder{
    font-weight: normal;
    opacity: 15%;
}

.mealtype {
    display: block;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 40px;
    border-radius: 2% / 10%;
    border-width: 2px;
    border-color: rgb(155, 155, 155);
    border-style: solid;
    outline: none;
    padding-left: 5px;
    font-size: medium;
    background-color: white;
}

.Submit {
    display: block;
    width: 100%;
    margin-top: 10%;
    font-weight: bold;
    height: 40px;
    border-radius: 2% / 10%;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    outline: none;
    padding-left: 5px;
    font-size: small;
    background-color: black;
    color: white;
}

.Submit:hover {
    border-color: rgb(161, 161, 161);
}

/* Profile style */
.profile-info {
    margin-bottom: 10%;
}