body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    height: 100vh;
    background: rgb(95, 194, 95);
  }

h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 14cap;
    min-height: 60vh;
    color: rgb(240, 230, 230);
}


.wrapper h2 {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    color: aqua;
}

.wrapper .register {
    width: 100%;
    height: 80px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

.wrapper .btn {
    width: 100%;
    height: 65px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 30px;
    color: aqua;
    font-weight: 600;
}

.navbar {
    font-size: 40px;
}

ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

ul.navbar a {
    text-decoration: none }
a:link {
    color: blue }
a:visited {
    color: rgb(122, 112, 187) 
}

.navbar {
    float: right;
    margin-top: 8px;
}

.navbar li {
    display: inline;
}

.navbar li + li {
    margin-left: 35px;
}
