body {
    background: url('../img/bodyBackground.jpg') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* change title text stuff*/
h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 14cap;
    color: rgb(36, 33, 33);
    height: 20px;
    font-weight: 10;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10%;
    font-family:"Papyrus";
}

h3 {
    color: grey;
    font-size: 20px;
    font-weight: lighter;
    font-family:"Garamond", serif;
}

.container {
    margin-top: 40px;
}

.wrapper {
    border-style: solid;
    padding: 0 38px 30px 15px;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px;
    border-radius: 10px;
}

.wrapper p {
    font-family:"Garamond", serif;
    padding-bottom: 5px;
    font-weight: 500;
}

.wrapper .input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 60px;
}

.wrapper .submit_btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 0 10px;
    font-family:"Garamond", serif;
    font-size: 20px;
    cursor: pointer;
}

.wrapper .submit_btn:hover {
    position: relative;
    background-color: rgb(143, 227, 255);
    color: black; /* of text */
    transition: ease-in-out 200ms;
}

.input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 16px;
    padding: 20px 45px 20px 40px;
    font-family:"Garamond", serif;
}

/* icon next to email and password */
.input_box i {
    position: absolute;
    left: 20px;
    top: 44px;
    transform: translate(-50%);
    font-size: 20px;
}

.input_box * {
    margin: 3px;
    font-size: 20px;
    box-sizing: border-box;
}

.word_link {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14.5px;
    text-align: left;
}

.word_link p a {
    color: rgb(13, 13, 14);
    text-decoration: none;
    font-weight: 600;
}

.word_link p a:hover {
    color: rgb(23, 93, 134);
    text-decoration: underline;
}


.searchbody {
    font-family: 'Arial';
    width: 25%;
    min-width: 400px;
    align-self: center;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
}

/* Box that is around the input */
.input {
    border-style: solid;
    border-radius: 2%;
    border-width: thin;
    border-color: rgb(146, 145, 145);
    padding: 5%;
    margin: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px;
}

/* Box that is around the output */
.output {
    border-style: solid;
    border-radius: 2%;
    border-width: thin;
    border-color: rgb(146, 145, 145);
    padding: 1%;
    margin: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px;
}

.Sigbtn {
    width: 50%;
    height: 65px;
    margin-top: 1%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 30px;
    color: aqua;
    font-weight: 600;
    margin-left: 25%;
}

.Sigbtn:hover {
    margin-top: 5px;
    background-color: rgb(143, 227, 255);
    color: black; /* of text */
    transition: ease-in-out 200ms;
}

.burger {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    height: 400px;
}

/* change nav bar position*/
nav {
    background-color: #e7e6e6;
    border-bottom: 4px solid #38a0cf;
    position: fixed;
    font-size: 40px;
    top: 0em;
    left: 0em;
    width: 100%;
}

/* hide the dot next to the tabs */
nav li {
    display: inline;
    float: left;
}

/* change text inside nav bar */
nav li a {
    font-family: "Gill Sans", sans-serif;
    color: rgb(68, 104, 180);
    text-align: center;
    padding: 20px 30px;
    border-left: 1px solid #38a0cf;
    font-weight: 40;
}

/* change background of nav bar */
nav a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #e7e6e6;
    list-style-type: none;
}

nav a:hover {
    color: black;
    background-color: lightblue;
    transition: ease-in-out 250ms;
}

/* search bar style*/
.searchbar{
    display: block;
    width: 96%;
    margin-bottom: 10%;
    height: 35px;
    border-radius: 2% / 10%;
    border-width: 2px;
    border-color: rgb(155, 155, 155);
    border-style: solid;
    outline: none;
    padding-left: 5px;
}

.searchbar::placeholder{
    font-weight: normal;
    opacity: 15%;
}

.mealtype {
    display: block;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 40px;
    border-radius: 2% / 10%;
    border-width: 2px;
    border-color: rgb(155, 155, 155);
    border-style: solid;
    outline: none;
    padding-left: 5px;
    font-size: medium;
    background-color: white;
}

.Submit {
    display: block;
    width: 100%;
    margin-top: 0%;
    font-weight: bold;
    height: 40px;
    border-radius: 2% / 10%;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    outline: none;
    padding-left: 5px;
    font-size: small;
    background-color: black;
    color: white;
}

.Submit:hover {
    border-color: rgb(161, 161, 161);
}

/* Profile style */
.profile-info {
    margin-bottom: 10%;
}

/* Calender style */


.cartbody {
    font-family: 'Arial';
    font-size: 12px;
    width: 100%;
    min-width: 400px;
    align-self: center;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.cartwindow {
    border-style: solid;
    border-radius: 2%;
    border-width: thin;
    border-color: rgb(146, 145, 145);
    padding: 5%;
    margin: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px;
    width: 100%;
}

.ingredient{
    display: inline;
}

.boughtCheck{
    width: 20px;
    height: 20px;
}
.quantity{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 200;
}

.measure{
    display: inline;
    padding-right: 10px;
    font-weight: 50;
}

.ingredientName{
    display: inline;
    padding-right: 10px;

}

.recipesUsing{
    display: block;
    color: grey;
    font-size: medium;
}

.errornotification {
    border-style: solid;
    border-radius: 2%;
    border-width: thin;
    border-color: rgb(146, 145, 145);
    background-color: rgb(255, 94, 94);
    box-shadow: 0 0 10px;
    width: 100%;
    font-size: medium;
}

.successnotification {
    border-style: solid;
    border-radius: 2%;
    border-width: thin;
    border-color: rgb(146, 145, 145);
    background-color: rgb(111, 255, 166);
    box-shadow: 0 0 10px;
    width: 100%;
    font-size: medium;
}