body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    height: 90vh;
    background: lightgreen;
  }

h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 14cap;
    min-height: 40vh;
    color: rgb(240, 230, 230);
}
.wrapper {
    width: 250px;
    height: 50px;
    background: white;
    color: rgb(183, 215, 215);
    align-self: center;
}

.wrapper h2 {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    color: aqua;
}

.wrapper .btn {
    width: 100%;
    height: 80px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

ul.navbar a {
    text-decoration: none }
a:link {
    color: blue }
a:visited {
    color: purple 
}
