body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background: lightgreen;
  }

h2 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif }

ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

ul.navbar a {
    text-decoration: none }
a:link {
    color: blue }
a:visited {
    color: purple 
}
