body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(51, 202, 109);
  }

/* change title text stuff*/
h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 14cap;
    color: rgb(240, 230, 230);
    height: 20px;
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}


.wrapper h2 {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    color: aqua;
}

.wrapper .register {
    width: 100%;
    height: 80px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

.wrapper .btn {
    width: 100%;
    height: 65px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 30px;
    color: aqua;
    font-weight: 600;
}

.burger {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    height: 400px;
}

/* change nav bar position*/
.navbar {
    position: fixed;
    font-size: 40px;
    top: 0em;
    left: -1em;
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
}

/* hide the dot next to the tabs */
.navbar li {
    display: inline;
    float: left;
    
}

/* change text inside nav bar */
.navbar li a {
    font-family: "Gill Sans", sans-serif;
    color: rgb(68, 104, 180);
    text-align: center;
    padding: 20px 30px;
    border-left: 1px solid #38a0cf;
}

/* change background of nav bar */
.navbar a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #e7e6e6;
    list-style-type: none;
}
ul.navbar {
    background-color: #e7e6e6;
    border-bottom: 4px solid #38a0cf;
}

.navbar a:hover {
    background-color: lightblue;
    color: black;
}

.active.navbar {
    background-color: aqua;
}