body {
    margin: 1;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    color: #444;
  }

h1 {
    margin: 1;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.0em;
    color: #444;
}

h2 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple 
}
